body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefeff;
    color: rgb(161, 159, 159);
    margin: 0 auto;
}

.pagina-login {
  background-image: url('/app/Imagens/Fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f0f0f0; /* Cor de fundo alternativa, caso a imagem não seja carregada */
}

.notification {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px 15px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 14px;
  }
  
  .panel {
    width: 21%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    background-color: rgb(56, 56, 56);
    text-align: center;
    align-items: center;
    align-content: center;
    jus
  }
  
  .panel-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

.container {
    width: 300px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.877);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px;
    color: white;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 10px;
}

.btn:hover {
    opacity: 1;
}

.btn-social {
    background-color: #3B5998;
    margin-top: 10px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .panels {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    transition: 0.5s;
  }

  .rounded-table {
    width: 76%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-top: 20px;
  }
  
  .rounded-table th, .rounded-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .rounded-table thead {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    background-color: #444;
  }
  
  /*.rounded-table tbody tr:last-child td {
    border-bottom: none;
  }*/

















.icon-text { font-size: 2em; }

.icon {

	position: center;
	display: table-cell;
	width: 70px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size:40px;
  margin-left: 3px;

}

.iconP {
    position: center;
    display: table-cell;
    width: 70px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:40px;
    margin-left: 7px;
  
  }

.menu-sidebar:hover,nav.menu-sidebar.expanded {
  
  width:250px;
  overflow:visible;

}

.menu-sidebar {

	width:50px;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	background:#00629d;;
	position:absolute;
	overflow:hidden;
	-webkit-transition:width .04s linear;
	transition:width .04s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;

}

.menu-sidebar>ul { margin:8px 0; }

.menu-sidebar li {

  position:relative;
  display:block;
  width:250px;

}


.menu-sidebar li>a {

	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#ffffff;
	font-family: arial;
	font-size:1em;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
  
}


.menu-sidebar .nav-icon {

	position:relative;
	display:table-cell;
	width:60px;
	height:36px;
	text-align:center;
	vertical-align:middle;
	font-size:1em;

}

.menu-sidebar .menu-texto {
   
   position:relative;
   display:table-cell;
   vertical-align:middle;
   width:190px;
   font-family: 'open_sansregular';
   padding-left: 15px;

}

.menu-sidebar>ul.logout {
  
  position:absolute;
  left:0;
  bottom:0;

}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  
  overflow-y:auto;
  overflow:visible; 

}

a:hover,a:focus { text-decoration:none; }

nav {

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;

}

nav ul,nav li {

   outline:0;
   margin:0;
   padding:0;

}
.menu-sidebar li:hover>a,nav.menu-sidebar li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {

    color:#fff;
    background-color:#242424;

}
