{% extends 'base-logout.html' %}

{% block conteudo %} 
<body class="pagina-login">

  <div class="container">

<div class="text">
  <label class="title">Crie sua conta: </label>
</div>

<script>
  $(document).ready(function(){
    $("#cadastro").on('submit', function(event) {
      event.preventDefault(); 
      var nome = $("#nome").val();
      var cpf = $("#cpf").val();
      var email = $("#email").val();
      var senha = $("#senha").val();
    
      var apiUrl;
      apiUrl = '{{ api_url }}/users/create';

const data = {
          nome: nome,
          email: email,
          senha: senha,
          cpf: cpf
        };

const requestOptions = {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
};

fetch(apiUrl, requestOptions)
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    //outputElement.textContent = JSON.stringify(data, null, 2);
    alert("Cadastro realizado com sucesso!");
  })
  .catch(error => {
    console.error

('Error:', error);
  });
  });
  });
</script>    

  <div style="display: block;">
      <div>
          <span id="inserePopupClose" class="close-button">&times;</span>
          <form id="cadastro">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required><br>
            
            <label for="cpf">CPF:</label><br>
            <input type="text" id="cpf" maxlength="14" name="cpf" name="cpf" required><br>
            
            <label for="email">Email:</label><br>
            <input type="mail" id="email" name="email" required><br>

            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required><br>
            
            <input type="submit" value="Executar">
          </form>
    </div>

  </div>
</div>
</body>
    {% endblock conteudo %}
