<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Configurações | Dispensa Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <!-- Boxicons CDN Link -->
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   </head>
<body>

  {% include 'menu.html' %}

  <section class="home-section">
    
</div>
  <div class="text">
    <h1 class="texto-colorido">Dashboard</h1>
  </div>
  <div class="text">
    <p class="text">Transformando desperdício em delícias: Controle seu estoque!</p>
  </div>
  <div class="panels"> 
    <button class="botoes">Alterar Senha</button>
    <button class="botoes">Atualizar dados cadastrais</button>
    <button class="botoes">Modo Noturno/Diurno</button>
    <button class="botoes">Gerenciar Assinatura</button>
  </div>
    <div class="container">
       <div class="footer">
          <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4"></section>
            <!-- Facebook -->
            
<!-- Copyright
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright
          <a class="text-white" href="#"></a>
        </div>
 Copyright -->
      </footer>
  </div>
  </section>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
  
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
  
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right","texto-colorido");//replacing the iocns class
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu","texto-colorido");//replacing the iocns class
     }
    }
    </script>
  
</body>

 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

</body>
</html>