{% extends 'base.html' %}

{% block conteudo %}
<div class="panels">
  <div class="panel">
    <div class="panel-title">Ingredientes vencendo:</div>
      <div id='vencidos' class="panel-value">-</div>
  </div>

  <div class="panel">
    <div class="panel-title">Sugestões:</div>
    <br><div id='sugestoes' class="panel-value">-</div>
  </div>

  <div class="panel">
    <div class="panel-title">Receitas cadastradas:</div>
    <div id='receitas' class="panel-value">-</div>
  </div>
</div>
{% include "tabela-ingredientes.html" %}

<script>
  async function quantidade_vencidos2() {
    var token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

      const balao = document.getElementById('vencidos');
      const apiUrl = '{{ api_url }}/ingredientes/quantidade_vencidos/';
      const response = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token // Adicione o token ao cabeçalho de autorização
            }});
      const data = await response.json();
      balao.innerText = data.quantidade; 
  }


  async function quantidade_sugestoes() {
    var token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

      const balao = document.getElementById('sugestoes');
      const apiUrl = '{{ api_url }}/sugestoes/quantidade/';
      const response = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token // Adicione o token ao cabeçalho de autorização
            }});
      const data = await response.json();
      balao.innerText = data.quantidade; 
  }


  async function quantidade_receitas() {
    var token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

      const balao = document.getElementById('receitas');
      const apiUrl = '{{ api_url }}/receitas/quantidade/';
      const response = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token // Adicione o token ao cabeçalho de autorização
            }});
      const data = await response.json();
      balao.innerText = data.quantidade; 
  }
  quantidade_vencidos2();
  quantidade_sugestoes();
  quantidade_receitas();

</script>

  {% endblock conteudo %}
