{% extends 'base.html' %}

{% block conteudo %} 

<script>
  $(document).ready(function(){
    $("#stock-operation").on('submit', function(event) {
      event.preventDefault(); 
      var ing = $("#product").val();
      var qnt = $("#quantity").val();
      var unid = $("#unid").val();
      var validade = $("#validade").val();

      var operation = $("#operation").val();

      var url;
      if(operation === 'add') {
        url = '{{ api_url }}/ingredientes/';
        type = 'POST';
      } else if(operation === 'remove') {
        url = '{{ api_url }}/ingredientes/remove';
        type = 'POST';
      } else {
        alert('Operação desconhecida');
        return;
      }

    var token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

    $.ajax({
        url: url,
        type: type,
        dataType: 'json',
        data: {
          nome: ing,
          quantidade: qnt,
          unidade: unid,
          validade: validade
        },
        headers: {
        'Authorization': 'Bearer ' + token, // Adicione o token ao cabeçalho de autorização
    },
        success: function(response) {
          location.href = location.href;
        },
        error: function() {
          alert('Acesso Negado!! ' + url + ' ' + ing + ' ' + qnt)
        }
      });
  });
  });
</script>    

 <div class="panels"> 
    <button class="botoes" id="inserePopupOpen">Editar estoque</button>
  </div>
  <div id="popup" class="popup">
      <div class="popup-content">
          <span id="inserePopupClose" class="close-button">&times;</span>
          <form id="stock-operation">
            <label for="product">Produto:</label><br>
            <input type="text" id="product" name="product" required><br>
    
            <label for="quantity">Quantidade:</label><br>
            <input type="number" id="quantity" name="quantity" min="0" value="0" required><br>
    
            <label for="unid">Unidade:</label><br>
            <input type="text" id="unid" name="unid" value="g" required><br>
    
            <label for="validade">Validade:</label><br>
            <input type="date" id="validade" name="validade" required><br>
    
            <label for="operation">Operação:</label><br>
            <select id="operation" name="operation">
                <option value="add">Adicionar ao estoque</option>
                <option value="remove">Remover do estoque</option>
            </select><br>
    
            <input type="submit" value="Executar">
        </form>
    
        <script>
            $(document).ready(function() {
                // Configura a data atual como padrão para o campo de validade
                const today = new Date().toISOString().split('T')[0];
                $('#validade').val(today);
    

                // Função para buscar ingredientes da API
            function fetchIngredientes() {
                const token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

                $.ajax({
                    url: '{{ api_url }}/ingredientes/', // Substitua pela URL real da sua API
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function(data) {
                        const ingredientes = [...new Set(data.map(item => item.nome))];
                        const unidades = [...new Set(data.map(item => item.unidade))];

                        setupAutocompleteing(ingredientes);
                        setupAutocompleteunid(unidades);
                    },
                    error: function() {
                        console.error('Erro ao buscar ingredientes');
                    }
                });
            }

            // Configura autocomplete para ingredientes
            function setupAutocompleteing(ingredientes) {
                $('#product').autocomplete({
                    source: ingredientes,
                    minLength: 0,
                    delay: 0,
                });
            }

            
            // Configura autocomplete para ingredientes
            function setupAutocompleteunid(unidades) {
                $('#unid').autocomplete({
                    source: unidades,
                    minLength: 0,
                    delay: 0,
                });
            }

            // Chama a função para buscar ingredientes
            fetchIngredientes();

            });
        </script>
      </div>
  </div>
  {% include "tabela-ingredientes.html" %}
  <script src="{{ url_for('static', filename='popupEstoque.js') }}"></script>
    {% endblock conteudo %}
