{% extends 'base.html' %}

{% block conteudo %} 

<script>
  $(document).ready(function(){
    $("#stock-operation").on('submit', function(event) {
      event.preventDefault(); 
      var ing = $("#product").val();
      var qnt = $("#quantity").val();
      var operation = $("#operation").val();
      
      var url;
      if(operation === 'add') {
        url = 'https://{{ api_url }}/ingredientes/add';
      } else if(operation === 'remove') {
        url = 'https://{{ api_url }}/ingredientes/remove';
      } else {
        alert('Operação desconhecida');
        return;
      }

    var token = localStorage.getItem('jwt'); // Obtenha o token do localStorage

    $.ajax({
        url: url,
        type: 'GET',
        data: {
          nome: ing,
          quantidade: qnt
        },
        headers: {
        'Authorization': 'Bearer ' + token, // Adicione o token ao cabeçalho de autorização
    },
        xhrFields: {
        withCredentials: true
        },
        success: function(response) {
          if(response == 'OK') {
            window.location.href = '#';
          } else {
              alert('Acesso Negado!')
          }
        },
        error: function() {
          alert('Acesso Negado!! ' + url + ' ' + ing + ' ' + qnt)
        }
      });
  });
  });
</script>    

 <div class="panels"> 
    <button class="botoes" id="inserePopupOpen">Editar estoque</button>
  </div>
  <div id="popup" class="popup">
      <div class="popup-content">
          <span id="inserePopupClose" class="close-button">&times;</span>
          <form id="stock-operation">
            <label for="product">Produto:</label><br>
            <input type="text" id="product" name="product" required><br>
            
            <label for="quantity">Quantidade:</label><br>
            <input type="number" id="quantity" name="quantity" min="1" required><br>
            
            <label for="operation">Operação:</label><br>
            <select id="operation" name="operation">
              <option value="add">Adicionar ao estoque</option>
              <option value="remove">Remover do estoque</option>
            </select><br>
            
            <input type="submit" value="Executar">
          </form>
      </div>
  </div>
  {% include "tabela.html" %}
  <script src="{{ url_for('static', filename='popupEstoque.js') }}"></script>
    {% endblock conteudo %}
