<!DOCTYPE html>
<html>
<head>
<title>Dispensa Inteligente</title>
<link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
<script src="{{ url_for('static', filename='sidebar.js') }}"></script>
</head>

<body>

  <div id="mySidenav" class="sidenav">
    <label class="title">Dispensa Inteligente</label>

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Estoque</a>
    <a href="#">Receitas</a>
    <a href="#">Sugestão de Receitas</a>
    <a id="apiButton">Chamar API</a>
  </div>

  <span style="cursor:pointer" onclick="openNav()">&#9776;</span> 
  <label class="title">  Dispensa Inteligente</label>

  <script>
      $(document).ready(function(){
        $("#apiButton").click(function(){
          $.get("https://{{ api_url }}/example", function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
          });
        });
      });
    </script>

</body>
</html>
