<!DOCTYPE html>
<html>
<head>
<title>Dispensa Inteligente</title>
<link rel="stylesheet" href="{{ url_for('css', filename='estilo.css') }}">
</head>

<body>
  
<div class="container">
    <label class="title">Dispensa Inteligente</label>

    <button class="btn">Estoque</button>
    <button class="btn">Receitas</button>
    <button class="btn">Sugestão de Receitas</button>
    <button class="btn" id="apiButton">Chamar API</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#apiButton").click(function(){
          $.get("https://{{ api_url }}/example", function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
          });
        });
      });
    </script>
</div>

</body>
</html>