{% extends 'base-logout.html' %}

{% block conteudo %} 


<title>Dispensa inteligente</title>
<link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      $("#form-login").on('submit', function(event) {
        event.preventDefault(); 
        var username = $("#cpf").val();
        var password = $("#senha").val();

        $.ajax({
          url: '{{ api_url }}/login',
          type: 'GET',
          data: {
            cpf: username,
            senha: password
          },

       success: function(response, status) {
        if(response.token) {
            // Armazene o token no local storage
            localStorage.setItem('jwt', response.token);}

        if(status == 'success') {
             window.location.href = '/dashboard';
         } else {
        alert('Acesso negado!')
         }
          },
         error: function() {
            alert('Acesso negado!!')
          }
        });
      });
    });
</script>    
</head>

<body class="pagina-login">

<div class="container">
    <label class="title">Dispensa Inteligente.</label>
<br><br>
<form id="form-login" action="#" method="get">

    <label for="uname"><b>Cpf</b></label>
    <input type="text" placeholder="Insira o seu cpf" name=cpf id=cpf required>

    <label for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Insira a sua senha" name="senha" id="senha" required>

    <a href="/dashboard"><button type="submit" class="botoeslogin">Login</button></a>
</form>
    <a href="/cadastro"><button class="botoeslogin">Cadastro</button></a>
</div>
  </script>
    {% endblock conteudo %}
