<!DOCTYPE html>
<html>
<head>
<title>Dispensa inteligente</title>
<link rel="stylesheet" href="{ url_for('static', filename='estilo.css') }">
</head>

<body class="pagina-login">

<div class="container">
    <label class="title">Dispensa Inteligente</label>
<br><br>
    <label for="uname"><b>Usuário</b></label>
    <input type="text" placeholder="Insira o seu usuário" name="uname" required>

    <label for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Insira a sua senha" name="psw" required>

    <a href="/dashboard"><button type="submit" class="btn">LOGIN DEMO</button></a>

    <button class="btn btn-social">Login com Facebook</button>
    <button class="btn btn-social">Login com Google</button>
</div>

</body>
</html>
