{% extends 'base.html' %}

{% block conteudo %} 
<div class="panels"> 
  <button class="botoes" id="inserePopupOpen">Adicionar receita</button>
</div>
<div id="popup" class="popup">
    <div class="popup-content">
        <span id="inserePopupClose" class="close-button">&times;</span>
        <form id="stock-operation">
          <label for="product">Nome da receita:</label><br>
          <input type="text" id="product" name="product" required><br><br>
          <label for="prepar">Modo de preparo:</label><br>
          <input type="text" id="prepar" name="prepar" required><br><br>
        <div id="ingredients-container">
          <div class="ingredient">
            <div id="ingredient-container">
              <label for="ingredient-name-0">Ingrediente:</label><br>
              <input type="text" id="ingredient-name-0" name="ingredients[0][name]" required><br>
              <label for="ingredient-quantity-0">Quantidade:</label><br>
              <input type="number" id="ingredient-quantity-0" name="ingredients[0][quantity]" min="1" required><br>
          </div>
      </div>
      <input type="button" value="+" id="add-ingredient"><br><br>
      <input type="submit" value="Executar">
        </div>
  </form>
      </div>
      </div>
    {% include "tabela-receitas.html" %}

  <script src="{{ url_for('static', filename='popupEstoque.js') }}"></script>
  <script>
    // Função para adicionar um campo de ingrediente
    function addIngredient() {
        var container = document.getElementById("ingredient-container");
        
        // Crie um novo elemento <div> para o campo de ingrediente
        var ingredientDiv = document.createElement("div");
        
        // Adicione o campo de ingrediente ao novo elemento
        ingredientDiv.innerHTML = `
            <label for="ing">Ingrediente:</label><br>
            <select id="ing" name="ing">
              <option value="1">Arroz</option>
              <option value="2">Feijão</option>
              <option value="3">Alho</option>
              <option value="4">Linguiça Calabresa</option>
            </select><br>
            
            <label for="quantity">Quantidade:</label><br>
            <input type="number" name="quantity" min="1" required><br><br>
        `;
        
        // Adicione o novo elemento ao contêiner de ingredientes
        container.appendChild(ingredientDiv);
    }

    // Adicione um ouvinte de evento ao botão "+" para chamar a função quando for clicado
    document.getElementById("add-ingredient").addEventListener("click", addIngredient);
</script>

    {% endblock conteudo %}
