{% extends 'base.html' %}

{% block conteudo %}

{% include "tabela-receitas-possiveis.html" %}

<div class="panels">

<div class="panel">
  <a href="https://receitasdetodososdias.blogspot.com/2007/04/o-congelamento-e-as-suas-vantagens.html?m=1" target="_blank">
    <div class="panel-title">Aprenda técnicas de congelamento de alimentos!</div>
    <div class="panel-value"></div>
  </a>
</div>

<div class="panel">
  <a href="/receitas">
    <div class="panel-title">FAÇA UMA RECEITA E EVITE DESPERDÍCIO!</div>
    <div class="panel-value"></div>
  </a>
</div>

<div class="panel">
  <a href="https://www.oseudinheirovalemais.com.br/15-receitas-com-cascas-e-talos-de-frutas-legumes-e-verduras/" target="_blank">
    <div class="panel-title">Aprenda a aproveitar as cascas dos alimentos!</div>
    <div class="panel-value"></div>
  </a>
</div>
<!--
<div class="panel">
  <a href="https://linkfalso.com/">
    <div class="panel-title">Aprenda a aproveitar as sementes dos vegetais!</div>
    <div class="panel-value"></div>
  </a>
</div>
<br>
<div class="panel">
  <a href="https://linkfalso.com/">
    <div class="panel-title">Aprenda a armazenar corretamente suas proteínas e ganhe tempo de validade!</div>
    <div class="panel-value"></div>
  </a>
</div>
-->

</div>

  </div>
    {% endblock conteudo %}