{% extends 'base.html' %}

{% block conteudo %} 
<div class="panels"> 
  <button class="botoes" id="inserePopupOpen">Gerar nova sugestão</button>
</div>
<div id="popup" class="popup">
    <div class="popup-content">
        <span id="inserePopupClose" class="close-button">&times;</span>
        <form id="stock-operation">
          <label for="operation">Baseada em:</label><br>
          <select id="operation" name="operation" onchange="showSelectContainers()">
            <option value="">Selecione uma opção</option>
            <option value="ingrediente">Ingrediente específico</option>
            <option value="validade">Mais próximo do vencimento</option>
            <option value="tipo">Tipo de refeição</option>
          </select><br>

<!-- Campo de seleção secundária oculto por padrão -->
<div id="second-select-container" style="display: none;">
<label for="second-operation">Ingrediente:</label><br>
<select id="second-operation" name="second-operation">
<option value="">Selecione uma opção</option>
<option value="1">Arroz</option>
<option value="2">Feijão</option>
<option value="3">Alho</option>
<option value="4">Linguiça Calabresa</option>
</select><br>
</div>

<!-- Campo de seleção terciária oculto por padrão -->
<div id="third-select-container" style="display: none;">
<label for="third-operation">Refeição:</label><br>
<select id="third-operation" name="third-operation">
<option value="">Selecione uma opção</option>
<option value="1">Lanche</option>
<option value="2">Almoço</option>
<option value="3">Jantar</option>
</select><br>
</div>
          
          <input type="submit" value="Executar">
        </form>
    </div>
</div>
<div class="panels">
<br><br><br><br>
<div class="panel">
  <a href="">
    <div class="panel-title">Aprenda técnicas de armazenamento de vegetais!</div>
    <div class="panel-value"></div>
  </a>
</div>

<div class="panel">
  <a href="/receitas">
    <div class="panel-title">FAÇA UMA FEIJOADA E EVITE DESPERDÍCIO!</div>
    <div class="panel-value"></div>
  </a>
</div>

<div class="panel">
  <a href="https://linkfalso.com/">
    <div class="panel-title">Aprenda a aproveitar as cascas dos alimentos!</div>
    <div class="panel-value"></div>
  </a>
</div>

<div class="panel">
  <a href="https://linkfalso.com/">
    <div class="panel-title">Aprenda a aproveitar as sementes dos vegetais!</div>
    <div class="panel-value"></div>
  </a>
</div>
<br>
<div class="panel">
  <a href="https://linkfalso.com/">
    <div class="panel-title">    Aprenda a armazenar corretamente suas proteínas e ganhe tempo de validade!</div>
    <div class="panel-value"></div>
  </a>
</div>


</div>

  </div>
  <script>
    // Função para mostrar ou ocultar os campos de seleção com base na seleção do primeiro select
    function showSelectContainers() {
        var firstSelect = document.getElementById("operation");
        var secondSelectContainer = document.getElementById("second-select-container");
        var thirdSelectContainer = document.getElementById("third-select-container");

        // Verifique a seleção no primeiro select
        if (firstSelect.value === "tipo") {
            // Se "tipo" foi selecionado, mostre o segundo e terceiro select
            secondSelectContainer.style.display = "none";
            thirdSelectContainer.style.display = "block";
        } else if (firstSelect.value === "ingrediente") {
            // Se "ingrediente" foi selecionado, mostre apenas o segundo select
            secondSelectContainer.style.display = "block";
            thirdSelectContainer.style.display = "none";
        } else {
            // Se nenhuma das opções acima foi selecionada, oculte ambos os selects
            secondSelectContainer.style.display = "none";
            thirdSelectContainer.style.display = "none";
        }
    }
</script>
  <script src="{{ url_for('static', filename='popupEstoque.js') }}"></script>
    {% endblock conteudo %}