<div class="table">
    <table class="rounded-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ingredientes</th>
                <th>Modo de Preparo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="recipe-table-body">
            <!-- Receitas dinâmicas serão inseridas aqui -->
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        function loadRecipes() {
            // Função para carregar receitas da API
            const token = localStorage.getItem('jwt');
            $.ajax({
                url: '{{ api_url }}/receitas',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function(data) {
                    const tableBody = $('#recipe-table-body');
                    tableBody.empty();
                    data.forEach(recipe => {
                        const row = $('<tr></tr>');
                        row.append(`<td>${recipe.nome}</td>`);
                        row.append(`<td>${recipe.ingredientes.map(i => i.nome).join(', ')}</td>`);
                        row.append(`<td>${recipe.instrucoes}</td>`);
                        row.append(`
                            <td>
                                <div class="tooltip">
                                    <button class="icon-button delete-recipe" data-id="${recipe._id}">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <span class="tooltiptext">Deletar Receita</span>
                                </div>
                            </td>
                        `);
                        tableBody.append(row);
                    });
                },
                error: function() {
                    console.error('Erro ao carregar receitas');
                }
            });
        }


        $('#recipe-table-body').on('click', '.edit-recipe', function() {
            const recipeId = $(this).data('id');
            // Lógica para editar receita
            alert('Editar receita ' + recipeId)
        });

        $('#recipe-table-body').on('click', '.delete-recipe', function() {
            const recipeId = $(this).data('id');
            //alert('Deletar receita ' + recipeId);
            const token = localStorage.getItem('jwt');
            $.ajax({
                url: `{{ api_url }}/receitas/${recipeId}`,
                method: 'DELETE',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function(data) {
                    location.reload();
        },
        error: function() {
            alert('Erro ao deletar receita');
        }
        });

    });
    
        // Carregar receitas ao iniciar
        loadRecipes();
});

//                             <div class="tooltip">
//                              <button class="icon-button edit-recipe" data-id="${recipe._id}">
//                               <i class="fas fa-pencil-alt"></i>
//                              </button>
//                              <span class="tooltiptext">Editar Receita</span>
//                             </div>

</script>