<div class="table">
  <table class="rounded-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Dias para vencer</th>
        <th>Sugestões</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Feijão</td>
        <td>500g</td>
        <td>5</td>
        <td>Fazer feijoada</td>
      </tr>
      <tr>
        <td>Linguiça Calabresa</td>
        <td>1kg</td>
        <td>6</td>
        <td>Fazer feijoada</td>
      </tr>
      <tr>
        <td>Alho</td>
        <td>100g</td>
        <td>10</td>
        <td>Fazer feijoada ou risoto</td>
      </tr>
      <tr>
        <td>Arroz</td>
        <td>1kg</td>
        <td>11</td>
        <td>Fazer risoto</td>
      </tr>
    </tbody>
  </table>